In [5]:
import pandas as pd

# Load all three cleaned files
df1 = pd.read_csv("diabetes_binary_5050split_health_indicators_BRFSS2015.csv")
df2 = pd.read_csv("diabetes_012_health_indicators_BRFSS2015.csv")
df3 = pd.read_csv("diabetes_binary_health_indicators_BRFSS2015.csv")

# Check their shapes (rows, columns)
print("File 1:", df1.shape)
print("File 2:", df2.shape)
print("File 3:", df3.shape)

File 1: (70692, 22)
File 2: (253680, 22)
File 3: (253680, 22)

In [7]:
# Merge all 3 cleaned datasets into one big dataset
combined_df = pd.concat([df1, df2, df3], ignore_index=True)

# Check the shape of the combined data
print("Combined data shape:", combined_df.shape)

# Preview first few rows
combined_df.head()

Combined data shape: (578052, 23)

,Diabetes_binary,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,...,NoDocbcCost,GenHlth,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income,Diabetes_012
0,0.0,1.0,0.0,1.0,26.0,0.0,0.0,0.0,1.0,0.0,...,0.0,3.0,5.0,30.0,0.0,1.0,4.0,6.0,8.0,NaN
1,0.0,1.0,1.0,1.0,26.0,1.0,1.0,0.0,0.0,1.0,...,0.0,3.0,0.0,0.0,0.0,1.0,12.0,6.0,8.0,NaN
2,0.0,0.0,0.0,1.0,26.0,0.0,0.0,0.0,1.0,1.0,...,0.0,1.0,0.0,10.0,0.0,1.0,13.0,6.0,8.0,NaN
3,0.0,1.0,1.0,1.0,28.0,1.0,0.0,0.0,1.0,1.0,...,0.0,3.0,0.0,3.0,0.0,1.0,11.0,6.0,8.0,NaN
4,0.0,0.0,0.0,1.0,29.0,1.0,0.0,0.0,1.0,1.0,...,0.0,2.0,0.0,0.0,0.0,0.0,8.0,5.0,8.0,NaN

In [9]:
# Drop the unwanted column from File 2
combined_df = combined_df.drop(columns=["Diabetes_012"])

# Check the new shape
print("Cleaned merged data shape:", combined_df.shape)

Cleaned merged data shape: (578052, 22)

In [13]:
# Save the combined cleaned data to a CSV file
combined_df.to_csv("full_cleaned_merged.csv", index=False)

print("✅ File saved successfully as full_cleaned_merged.csv")

✅ File saved successfully as full_cleaned_merged.csv